[submodule "GRAnalyzer"]
	path = GRAnalyzer
	url = https://github.com/Uni-of-York-Phys/GRAnalyzer
[submodule "MPIEventLoop"]
	path = MPIEventLoop
        url = https://github.com/Uni-of-York-Phys/MPIEventLoop
